[Desktop Entry]
Name=NebulaShell
Comment=Lightweight Wayland Widget Framework
Exec=nebula-shell run
Type=Application
Icon=nebula-shell
Categories=System;Utility;
Terminal=false
StartupNotify=false
